<nav class="navbar navbar-light fluid shadow" style="background-color: #468efa;">
    <a href="" class="navbar-brand p-2 text-white" [hidden]="id_inv != 0">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
     style=" color: rgb(241 241 241);
       border-color: rgb(241 241 241);
      ">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div style="text-align: right;">
          <img src="assets/imagenes/logoViamarBien.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" width="20%" alt="">
        </div>
      </ul>
     
    </div>
  </nav>