/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

  /********Deteccion de concexoin********/
  .conexOf {
	position: fixed;
	z-index: 800;
	background-color: rgb(231 16 0 / 96%);
	text-align: center;
	padding: 17px;
	color: aliceblue;
	left: 0%;
	right: 0%;
	top: 0%;
  }
  
  .conexIn {
	position: fixed;
	z-index: 800;
	background-color: rgb(39 163 39 / 96%);
	text-align: center;
	padding: 17px;
	color: aliceblue;
	transition: all 2s;
	left: 0%;
	right: 0%;
	top: 0%;
  }